<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css')}}">
    <title>Acceso no autorizado</title>
</head>
<body>
    <div class="publicados">
        <p class="parrafo"> Estás intentando acceder a un área restringida sin haberte acreditado </p>

        <div class="cerrar">
            <a href="http://192.168.100.105:5000/admin/"> Iniciar sesión en FerroSale </a>
        </div>
     </div>
</body>
</html>