<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css')}}">
    <title>FerroSale - Pantalla de logout</title>
</head>
<body>

     <div class="publicados">
        <p class="parrafo"> Muchas gracias por administrar nuestro portal FerroSale. Esperamos verte pronto de vuelta </p>

        <div class="cerrar">
            <a href="http://192.168.100.105:5000/admin/"> Iniciar sesión en FerroSale </a>
        </div>
     </div>
</body>
</html>