<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css')}}">
    <title>Anuncio validado</title>
</head>
<body>
    <div class="anuncio_ok">
        El anuncio se ha validado correctamente.
    </div>
    <div class="regreso">
        Regresa a la página de inicio para visualizarlo.
        <br/>
        <br/>
        <a href="/"> Volver a la página de inicio de FerroSale </a>
    </div>
</body>
</html>