<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css')}}">
    <title>Anuncio registrado correctamente</title>
</head>
<body>
    <div class="anuncio_ok">
        El anuncio ha sido subido a FerroSale.
    </div>
    <div class="regreso">
        <p> Consulta tu correo electrónico y pulsa en el enlace de validación. </p>
        <p> Así todo el mundo podrá ver tu anuncio. </p>
        <br/>
        <br/>
        <a href="/"> Volver a la página de inicio </a>
    </div>
</body>
</html>