<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/usuario.css' %}">
    <title>AquaSale. Anuncios de {{usuario.nombre}}</title>
</head>
<body>
    <div class="caja_listado">
        <p class="listado"> Listado de anuncios de: {{usuario.nombre}}</p>
    </div>
    <div class="caja_buscador">
        <form action="">
            <div class="buscador_titulo">
                <label class="link"> Título: </label>
                <input class="edit_titulo" type="text" name="titulo" id="titulo" value="{{buscador}}"/>
            </div>
            <div class="buscador_tipo">
                <label class="link"> Tipo: </label>
                <select name="tipo" class="edit_tipo">
                    {% if tipo_elegido == -1 %}
                        <option value="-1" selected="selected"> Todos los tipos </option>
                    {% else %}
                        <option value="-1"> Todos los tipos </option>
                    {% endif %}
                    {% for t in tipos %}
                        {% if tipo_elegido == t.id %}
                            <option value="{{t.id}}" selected="selected">{{t.nombre}}</option>
                        {% else %}
                            <option value="{{t.id}}">{{t.nombre}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="buscador_categoria">
                <label class="link"> Categoria: </label>
                <select name="categoria" class="edit_categoria">
                    {% if categoria_elegida == -1 %}
                        <option value="-1" selected="selected"> Todas las categorias </option>
                    {% else %}
                        <option value="-1"> Todas las categorias </option>
                    {% endif %}
                    {% for c in categorias %}
                        {% if categoria_elegida == c.id %}
                            <option value="{{c.id}}" selected="selected">{{c.nombre}}</option>
                        {% else %}
                            <option value="{{c.id}}">{{c.nombre}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="buscador_buscar">
                <button type="submit" > BUSCAR </button>
            </div>
            <div class="buscador_todos">
                <a class="link" href="/anuncios/tus-anuncios"> TODOS </a>
            </div>
        </form>
    </div>
    <div class="caja_listado">
        <p class="listado"> Listado de anuncios: </p>
    </div>
    <div class="caja_anuncios">
    {% for anuncio in anuncios %}
        <div class="anuncios">
            <div class="anuncio_foto">
                {% if anuncio.foto %} <!--Si existe el atributo imagen-->
                    <img class="imagen" src="{{ anuncio.foto.url}}">
                {% else %}
                    <img class="imagen" src="../static/iconos/sin_imagen.png">
                {% endif %}
            </div>
            <div class="anuncio_texto">
                Fecha: <b> {{ anuncio.fecha }} </b>
                <br/>
                Tipo: <b> {{ anuncio.tipo.nombre }} </b>
                <br/>
                Categoría: <b> {{ anuncio.categoria.nombre }} </b>
                <br/>
                <b> {{ anuncio.titulo }} </b>
                <br/>
                {{anuncio.descripcion}}
                <br/>
                Precio: <b> {{ anuncio.precio }} € </b>
                <br/>
                Nombre y apellidos: <b> {{ anuncio.nomyapell }}</b>
                <br/>
                Email : <b>  {{ anuncio.usuario.email }}  </b>
                <br/>
                <br/>
                <a href="editar-anuncio?id={{anuncio.id}}" title="Editar">
                    <img class="icono" src="../static/iconos/editar.png">
                </a>
                <a href="borrar-anuncio?id={{anuncio.id}}" title="Borrar" onclick="return confirm('¿Estás seguro de borrar este anuncio?');">
                    <!--si en el código JScript del onclick ponemos un return False, cancela el enlace, como sino hiciese nada
                    No quiero cancelarlo siempre, sólo cuando el usuario pulse que no en la ventana de confirmación -->
                    <img class="icono" src="../static/iconos/borrar.png">
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="caja_paginas">
        {% if anterior >= 0 %}
            <div class="anterior">
                <a class="link" href="/anuncios/tus-anuncios?comienzo={{anterior}}&tipo_elegido={{tipo_elegido}}&categoria_elegida={{categoria_elegida}}&buscador={{buscador}}">ANTERIOR</a>
            </div>
        {% endif %}
        {% if siguiente < total_anuncios %}
            <div class="siguiente">
                <a class="link" href="/anuncios/tus-anuncios?comienzo={{siguiente}}&tipo_elegido={{tipo_elegido}}&categoria_elegida={{categoria_elegida}}&buscador={{buscador}}">SIGUIENTE</a>
            </div>
        {% endif %}
    </div>
    <div class="caja_volver">
        <a class="link_volver" href="/anuncios"> Vuelve a la página principal de AquaSale </a>
    </div>
</body>
</html>