<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/usuario.css' %}">
    <title>AquaSale. Edición de anuncio correcta </title>
</head>
<body>
    <div class="anuncio_ok_caja">
        <label class="anuncio_ok_label"> Anuncio registrado correctamente </label>
    </div>
    <div class="anuncio_ok_caja2">
      <a class="edicion_ok_link" href="/anuncios/tus-anuncios"> Vuelve a tu listado de anuncios </a>
        <br/>
        <br/>
      <a class="edicion_ok_link" href="/anuncios"> Vuelve a la página principal de AquaSale </>
    </div>
</body>
</html>