<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/usuario.css' %}">
    <title>AquaSale. Registro de anuncio correcto </title>
</head>
<body>
    <div class="anuncio_ok_caja">
        <label class="anuncio_ok_label"> Anuncio registrado correctamente </label>
    </div>
    <div class="anuncio_ok_caja2">
        <a class="anuncio_ok_link" href="/anuncios"> Vuelve a la página de inicio   </a>
    </div>
</body>
</html>