body {
        background-color: #1B262C;
        margin:0;
	    padding: 0;
}

/************  INDEX.HTML  ***********************/

.caja_titulo {
    float:left;
    width: 91%;
    height: auto;
    margin-top: 2%;
    background: #0F4C75;
    overflow: hidden;
    border-radius: 2.5em 0em 2.5em 0em;
    -moz-border-radius: 2.5em 0em 2.5em 0em;
    -webkit-border-radius: 2.5em 0em 2.5em 0em;
    border: 0.3em solid #5878CA;
}
.titulo {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #BBE1FA;
    font-size: 3em;
    font-weight: bold;
    text-align: center;

}
.acuario {
    float:left;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #BBE1FA;
    width: 38%;
    margin-right: 3%;
}
.imagen_acuario{
    width:100%;
    margin-top: 1.6%;

}
.presentacion{
     float:left;
     width: 50%;
     /* margen a modificar si necesito añadir más enlaces */
     padding-left:2%;
     padding-bottom:2%;
     font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
     color: #BBE1FA;
     font-size: 1.5em;
     font-weight: bold;
     text-align: left;

}
.index_informacion{
    font-size: 1.8em;
}
.index_caja_enlaces {
    float:left;
    border: 0.3em solid #5878CA;
    padding: 2%;
    width:86%;
    background: #1B262C;
    border-radius: 2.5em 0em 2.5em 0em;
    -moz-border-radius: 2.5em 0em 2.5em 0em;
    -webkit-border-radius: 2.5em 0em 2.5em 0em;
}
.caja_enlace_reg_anuncio
{
    float:left;
    width:30%;
    padding-left:3%;
}
.caja_enlace_gest_anuncio
{
    float:left;
    width:30%;
    padding-left:3%;
}
.caja_enlace_reg_portal
{
    float:left;
    width:30%;
    padding-left:3%;
}
.caja_enlace_log_usuario
{
    float:left;
    width:30%;
    padding-left:3%;
}
.caja_enlace_logout_usuario
{
    float:left;
    width:30%;
    padding-left:3%;
}
.link {
     font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
     color: white;
     font-size: 1.1em;
     font-weight: 800;
}
.caja_listado {
    float:left;
    width: 90%;
    height: auto;
    background: #0F4C75;
    overflow: hidden;
    border-radius: 0em 2.5em 0em 0em;
    -moz-border-radius: 0em 2.5em 0em 0em;
    -webkit-border-radius: 0em 2.5em 0em 0em;
    border: 0.3em solid #5878CA;
}
.caja_buscador{
    float:left;
    width: 85%;
    height: auto;
    background: #1B262C;
    overflow: hidden;
    border-radius: 0em 2.5em 2.5em 0em;
    -moz-border-radius: 0em 2.5em 2.5em 0em;
    -webkit-border-radius: 0em 2.5em 2.5em 0em;
    border: 0.3em solid #5878CA;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.buscador_titulo
{
    float:left;
    width: 85%;
}
.edit_titulo
{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 1.0em;
    font-weight: 600;
    color: black;
    resize: none;
    width:50%;
    background-color: #ECFCFF;
}
.buscador_tipo
{
    float:left;
    width: 45%;
    margin-top:3%;
}
.buscador_categoria
{
    float:left;
    width: 45%;
    margin-top:3%;
}
.edit_tipo
{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 1.0em;
    font-weight: 600;
    color: black;
    resize: none;
    width:60%;
    background-color: #ECFCFF;
}
.edit_categoria
{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 1.0em;
    font-weight: 600;
    color: black;
    resize: none;
    width:60%;
    background-color: #ECFCFF;
}
.buscador_buscar
{

 float:left;
    width: 43%;
     margin-top:5%;
     margin-left:15%;
}
.buscador_todos
{
 float:left;
    width: 42%;
     margin-top:7%;
}

.listado {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #BBE1FA;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.caja_anuncios {
    float:left;
    width: 90%;
}
.anuncios {
    float:left;
    margin-top: 2%;
    width: 99%;
    background: #3282B8;
    font-family: sans-serif;
    color: #1B262C;
    font-size: 1em;
    padding: 1% 1% 1% 1%;
    box-shadow:-4px -4px 1px #D2C6B2;
}
.anuncio_foto{
    float: left;
    width: 27%;
}
.anuncio_texto{
    float: left;
    width: 65%;
    padding-left: 6%;
}
.imagen {
    float: left;
    border: 3px solid #ddd;
    border-radius: 20%;
    width: 100%;
    height: auto;
    margin-right: 4%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding= 1% 1% 1% 1%;
}
.caja_paginas {
    float:left;
    width: 85%;
    height: auto;
    background: #1B262C;
    overflow: hidden;
    border-radius: 0em 2.5em 0em 0em;
    -moz-border-radius: 0em 2.5em 0em 0em;
    -webkit-border-radius: 0em 2.5em 0em 0em;
    border: 0.3em solid #5878CA;
    padding-left: 5%;
}
.anterior{
    float:left;
    padding: 2%;
}
.siguiente{
    float:left;
    padding: 2%;
    padding-left: 60%;
}

/* FORMULARIO REGISTRO ANUNCIO.HTML / FORMULARIO REGISTRO USUARIO.HTML / LOGIN-USUARIO.HTML */

.caja_registra {
    float:left;
    width: 90%;
    margin-top:2%;
    margin-left:4%;
    height: auto;
    background: #0F4C75;
    overflow: hidden;
    border-radius: 2.5em 2.5em 0em 0em;
    -moz-border-radius: 2.5em 2.5em 0em 0em;
    -webkit-border-radius: 2.5em 2.5em 0em 0em;
    border: 0.3em solid #5878CA;
}
.registra {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #BBE1FA;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.formulario{

    float:left;
    width: 86%;
    margin-top: 2%;
    margin-left: 4%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color:#BBE1FA;
    font-size: 1.0em;
    font-weight: 600;
    text-align: left;
    padding: 2%;
    border: 0.3em solid #5878CA;
    background: #0F4C75;
    border-radius: 0em 0em 2.5em 2.5em;
    -moz-border-radius: 0em 0em 2.5em 2.5em;
    -webkit-border-radius: 0em 0em 2.5em 2.5em;
}
.caja_formulario {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 1.0em;
    font-weight: 600;
    color: black;
    resize: none;
    width:60%;
}
.caja_precio {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 1.0em;
    font-weight: 600;
    color: black;
    resize: none;
    width:20%;
}
.caja_textarea {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 1.0em;
    font-weight: 600;
    color: black;
    resize: none;
    width:90%;
}
.caja_categoria {
    float: left;
    width: 30%;
    margin-left: 15%;
}
.caja_nombre {
    float: left;
    margin-top: 4%;
    width: 80%;
    margin-left: 15%;
}
.caja_boton {

    float: left;
    margin-top: 8%;
    width: 80%;
    margin-left: 15%;
}
.caja_archivo{
  content: 'Selecciona una imagen';

}
button {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #5878CA;
    border-radius: 6px;
    border: 2px solid #0016b0;
    margin-left: 30%;
}
button:hover{
    color: #5878CA;
    background-color: #ffffff;
    cursor:pointer; cursor: hand;
}
span{
    float:left;
    margin-top: 2%;
    margin-left: 15%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #FA163F;
}

/************  REGISTRO-OK.HTML // USUARIO-OK.HTML ***********************/

.etiqueta {
    color: white;
}
.anuncio_ok_caja {
    float:left;
    width: 90%;
    margin-top:30%;
    margin-left:4%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    background: #0F4C75;
    overflow: hidden;
    border-radius: 2.5em 2.5em 0em 0em;
    -moz-border-radius: 2.5em 2.5em 0em 0em;
    -webkit-border-radius: 2.5em 2.5em 0em 0em;
    border: 0.3em solid #5878CA;
}
.anuncio_ok_label {
     padding:15%;
     font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
     color: #BBE1FA;
     font-size: 1.5em;
     font-weight: bold;
}
.anuncio_ok_caja2 {
    float:left;
    width: 86%;
    margin-top: 2%;
    margin-left: 4%;
    padding: 2%;
    border: 0.3em solid #5878CA;
    background: #1B262C;
    border-radius: 0em 0em 2.5em 2.5em;
    -moz-border-radius: 0em 0em 2.5em 2.5em;
    -webkit-border-radius: 0em 0em 2.5em 2.5em;
    padding-top: 3%;
    padding-bottom: 3%;
}
.anuncio_ok_link{
    padding:25%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

/************  REGISTRO-KO.HTML  ***********************/

.anuncio_ko_caja {
    float:left;
    width: 88%;
    margin-top:10%;
    margin-left:4%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    background: #6F0000;
    overflow: hidden;
    border-radius: 2.5em 2.5em 0em 0em;
    -moz-border-radius: 2.5em 2.5em 0em 0em;
    -webkit-border-radius: 2.5em 2.5em 0em 0em;
    border: 0.3em solid #5878CA;
}
.anuncio_ko_label {
     padding:3%;
     padding-left: 13%;
     font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
     color: #BBE1FA;
     font-size: 1.2em;
     font-weight: bold;
}
.informacion_ko_caja{
    float:left;
    width: 87%;
    margin-top: 2%;
    margin-bottom:2%;
    margin-left: 3%;
    padding:3%;
}
.anuncio_ko_informacion {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #BBE1FA;
    font-size: 1.1em;
    font-weight: bold;
    margin-left:1%;
}
.anuncio_ko_imagen
{
    float:left;
    width: 80%;
    padding-left: 16%;
}
.harleyquinn
{
    border: 0.3em solid #5878CA;
    align: center;
}
.anuncio_ko_caja2 {
    float:left;
    width: 84%;
    margin-top: 2%;
    margin-left: 4%;
    padding: 2%;
    border: 0.3em solid #5878CA;
    background: #6F0000;
    border-radius: 0em 0em 2.5em 2.5em;
    -moz-border-radius: 0em 0em 2.5em 2.5em;
    -webkit-border-radius: 0em 0em 2.5em 2.5em;
    padding-top: 3%;
    padding-bottom: 3%;
}
.anuncio_ko_link{
    padding:13%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}
/******************** ANUNCIOS-USUARIO.HTML *****************************************/
.icono {
    width: 5%;
    height: auto;
    margin-right: 5%;
    margin-left: 2%;
}
.caja_volver{
    float:left;
    width: 86%;
    margin-top: 2%;
    padding: 2%;
    border: 0.3em solid #5878CA;
    background: #0F4C75;
    border-radius: 0em 0em 2.5em 2.5em;
    -moz-border-radius: 0em 0em 2.5em 2.5em;
    -webkit-border-radius: 0em 0em 2.5em 2.5em;
    padding-top: 3%;
    padding-bottom: 3%;
}
.link_volver{
    padding:5%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

/************  EDICION-OK.HTML   ********************************/

.edicion_ok_link {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

